/* footer {
    width: 100%;
    height: 90px;
    background-color: #D0DAEE;
    align-self: center;
  
    margin-top: 30px;
    text-align: center;
  } */

  footer {
    background-color: saddlebrown;
    /* height: 200px; */
    display: flex; 
    width: 100%;
    margin-top: auto;

    min-height:150px;
}
  
  .logo_footer {
    height: 100px;
    width: 100px; }
    .logo_footer img {
      max-height: 100px;
      max-width: 100px;
      width: auto;
      height: auto; }
  
  .footer_right {
    margin-left: auto; }
  
  .socials {
    display: flex;
    max-width: 20%;
    height: auto;
    max-height: 50px;
    width: auto;
    justify-content: space-evenly;
    background-color: white; }
  
  .social_button {
    height: 50px;
    width: 50px;
    margin: 2px; }
    .social_button img {
      max-height: 100%;
      max-width: 100%;
      width: auto;
      height: auto; }