@import url('https://fonts.googleapis.com/css2?family=Lacquer&display=swap');

.NavItem {
    font-family: 'Lacquer', cursive;
}

header {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-bottom: 20px;
    /* flex: auto; */
  }