@import url('https://fonts.googleapis.com/css2?family=Lacquer&display=swap');

.NavItem {
    font-family: 'Lacquer', cursive;
}

header {
    width:100vh;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-bottom: 20px;
    /* flex: auto; */
    /* background-color:blue; */
    font-family: 'Lacquer', cursive;
  }

nav {
    display: flex;

}

.nav-item {
    margin: 0 25px 0 25px
}