.article {
    background: #f4f4f4;
    margin: 5px;
    padding: 10px 20px;
    cursor: pointer;

    display: flex;
    flex-direction: row;

    width:auto;

    img {
        max-height:100%;
        max-width:60%;
        height:auto;
        width:auto;
        // background-color: red;
        margin-right: 150px;
        
    }
}

.major-article {
    height:300px;
}

.small-article {
    height:200px;
}
    
.article.unreleased {
    border-left: 5px solid green;
}

// .article h3 {
//     display: flex;
//     align-items: center;
//     justify-content: space-between;
// }

.articles-wrapper {
    // width: 80% ;

    width:auto;
    background-color: purple;
    display: flex;
    flex-direction: column;

}

.text-wrapper {
    display:flex;
    flex-direction:column;
    justify-content: space-evenly;

}

.playlists {
    display: flex;
    justify-content: space-evenly;
    margin: 25px 0 25px 0;
}

.playlist {

    border-radius: 35px;
    border: 2px solid grey;
    background-color: whitesmoke;
    width:200px;
    height:200px;

    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;

    img {
        // width:auto;
        height:auto;
        // max-width:100%;
        width:100px;
        margin-top: 5px;
    } 

    .arrow {
        border: solid black;
        border-width: 0 3px 3px 0;
        display: inline-block;
        padding: 3px;
        transform: rotate(45deg);
        -webkit-transform: rotate(45deg);
        margin-bottom: 5px;
    }
}